.card {
    min-height: 500px;
}

.card-img-top{
    max-width: 200px;
    height:auto;
    margin: 0 auto;
}

.card .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 20px;
}


